/.idea/.idea.MauiCalculator/.idea/.gitignore
/.idea/.idea.MauiCalculator/.idea/deploymentTargetDropDown.xml
/.idea/.idea.MauiCalculator/.idea/encodings.xml
/.idea/.idea.MauiCalculator/.idea/indexLayout.xml
/.idea/.idea.MauiCalculator/.idea/vcs.xml
